#font-face {
    font-family: "Cursed Timer ULiL";
    src: url("CursedTimerUlil-Aznm.ttf");
    
    font-family: "Verdana";
    src: url("Verdana.ttf");
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: "Verdana";
    color: #EEEEEE;
    text-align: center;
    font-size: 40px;
}

.score-display {
    font-family: "Cursed Timer ULiL";
    font-size: 100px;
    height: 120px;
    width: 155px;
    color: #F94F6D;
    background-color: #080001;
    border-radius: 5px;
    text-align: center;
    margin-top: -30px;
    padding-top: 20px;
}

.home-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.score-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-section {
    display: flex;
    justify-content: space-between;
    margin-top: -90px;
    

}

button {
    font-family: "Cursed Timer ULiL";
    font-size: 14px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 3px;
    color: #9AABD8;
    height: 45px;
    padding: 10px;
    margin: 5px;
}